<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla :: head}">
        <title>CineFide</title>
    </head>

    <body>
        <!-- 1 metodos-->
        <section th:fragment="metodos" class="py-4 mb-4 bg-light">
            <div class="container-md">
                <form th:action="@{/pagos/confirmacion}" method="POST" class="was-validated" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="col-md-4 ">
                            <img src="https://m.media-amazon.com/images/M/MV5BNWFkNzI5NDQtY2QyZS00NGE2LWJiNDEtMTI5ZTFmNDE0ZjcwXkEyXkFqcGdeQXVyNjk1NzU1Mjk@._V1_FMjpg_UX1000_.jpg"
                                 width="70%" class="mx-auto d-block" alt="Pelicula seleccionada">
                        </div>
                        <div class="col-md-4 ">
                            <div class=" d-flex justify-content-between">
                                <h3 class="m-2" id="tnombPelicula">The Roar of Victory</h3>
                                <input type="hidden" id="nombPelicula" name="nombPelicula">
                                    <h5 class="m-2" id="thoraPelicula">6:00pm</h5>
                                    <input type="hidden" id="horaPelicula" name="horaPelicula">
                                        </div>
                                        Asientos: <b id="tasientosPelicula">F4 - F5</b> Costo: ¢<b id="tcostoPelicula">4300</b>
                                        <input type="hidden" id="asientosPelicula" name="asientosPelicula">
                                        <input type="hidden" id="costoPelicula" name="costoPelicula">
                                                <div class="align-items-center justify-content-center d-flex border mt-3 w-100 h-75">

                                                    <div class="w-100">
                                                        <div class="form-floating m-3">
                                                            <input type="text" class="form-control" placeholder="Dijita el nombre en tu tarjeta"
                                                                   required="true" name="tarjeta">
                                                                <label for="tarjeta">[[#{pagos.tarjeta}]]</label>
                                                        </div>

                                                        <div class="form-floating m-3">
                                                            <input type="number" class="form-control" placeholder="Dijita tu tarjata"
                                                                   required="true" name="numTarjeta">
                                                                <label for="numTarjeta">[[#{pagos.numtarjeta}]]</label>
                                                        </div>

                                                        <div class="form-floating m-3">
                                                            <input type="password" class="form-control" placeholder="Dijita tu pin"
                                                                   required="true" name="pinTarjeta">
                                                                <label for="pinTtarjeta">[[#{pagos.pintarjeta}]]</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                </div>
                                                <div class="row justify-content-end mt-3">
                                                    <div class="col-md-4 text-md-right">
                                                        <button type="submit" class="btn btn-danger"><i class="fa-regular fa-credit-card mr-3"></i>
                                                            [[#{pagos.pagar}]]</button>
                                                    </div>
                                                </div>
                                                </form>
                                                </div>

                                                <script>
                                                    document.addEventListener("DOMContentLoaded", function () {
                                                        document.getElementById("nombPelicula").value = document.getElementById("tnombPelicula").innerText;
                                                        document.getElementById("horaPelicula").value = document.getElementById("thoraPelicula").innerText;
                                                        document.getElementById("asientosPelicula").value = document.getElementById("tasientosPelicula").innerText;
                                                        document.getElementById("costoPelicula").value = document.getElementById("tcostoPelicula").innerText;
                                                    });
                                                </script>
                                                </section>

                                                <!-- confirmacion-->
                                                <section th:fragment="confirmacion" class="py-4 mb-4 bg-light">
                                                    <div class="container-md bg-light d-flex align-items-center justify-content-center">
                                                        <div class="card text-center">
                                                            <div class="card-body">
                                                                <h5 class="card-title">[[#{pagos.exitosa}]]</h5> <!-- Título de la tarjeta -->
                                                                <p class="card-text">[[#{pagos.mensaje}]]</p> <!-- Cuerpo de texto -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                </body>

                                                </html>