<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>CineFide</title>
    </head>
    <body>
        <!-- 1 Seccion para crear el boton de agregar promociones... llamará a una ventana modal x-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarPromocion">
                            <i class="fas fa-plus"></i> [[#{promocion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar promocion, es la ventana modal -->
        <section th:fragment="agregarPromocion">
            <div id="agregarPromocion" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{promocion.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/promocion/guardar}" th:object="${promocion}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="descripcion">[[#{promocion.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{promocion.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{promocion.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad promocion -->
        <section th:fragment="listadoPromocion" id="promocion">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://img.freepik.com/vector-premium/icono-pagina-calendario-lunes-dibujos-animados-vectoriales-estilo-comico-pictograma-ilustracion-signo-calendario-concepto-efecto-salpicadura-negocio-agenda-lunes_157943-7639.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Promoción tardeada de lunes</h5>
                                        <p class="card-text">Podes distrutar las promociones de un 20% de descuento todos los lunes, en horarios de 1 a 3 de la tarde.</p>
                                        <a href="#" class="btn btn-primary">Obtener promoción</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-80 mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-plan-tarjeta-credito_114360-209.jpg?t=st=1710281942~exp=1710285542~hmac=adbcffc8549300fd109d02fd901e7a12cf8086b5997e2a58f4cdcdb0bd9d717d&w=740" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Master Promo</h5>
                                            <p class="card-text">Podes distrutar las promociones de un 15% de descuento todos los días al resalizar tus pagos con tarjetas MasterCard.</p>
                                            <a href="#" class="btn btn-primary">Obtener promoción</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-80 mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-estudiante-feliz_114360-8328.jpg?t=st=1710281764~exp=1710285364~hmac=efcb82f3d19871e82c647003268b3a3dfa8c2b5ac2ea16787af1308593668169&w=740" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Promo Estuadiante</h5>
                                                <p class="card-text">Al presentar tur carnet de estudiante podes disfrutar de un 10% de descuentos e todos nuestros horarios.</p>
                                                <a href="#" class="btn btn-primary">Obtener promoción</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${promocion != null and !promocion.empty}">
                                    <table class="table table-striped table-hover">
                                        <thead class="table-dark">
                                            <tr><th>#</th>
                                                <th>[[#{promocion.descripcion}]]</th>
                                                <th>[[#{promocion.activo}]]</th>
                                                <th></th></tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="promocion, contador : ${promocion}">
                                                <td>[[${contador.count}]]</td>
                                                <td>[[${promocion.descripcion}]]</td>
                                                <td th:text="${promocion.activo} ? 'Activa' : 'Inactiva'" />
                                                <td><a th:href="@{/promocion/eliminar/}+${promocion.idPromocion}"
                                                       class="btn btn-danger">
                                                        <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                    <a th:href="@{/promocion/modificar/}+${promocion.idPromocion}"
                                                       class="btn btn-success">
                                                        <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarPromocion">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/promocion/guardar}" 
                          th:object="${promocion}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idPromocion" th:field="*{idPromocion}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{promocion/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{promocion.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{promocion.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{promocion.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${promocion.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/promocion/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/promocion/eliminar/}+${promocion.idPromocion}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>